// =============================================================================
// NODE - SERVICE
// =============================================================================

.node-service {

  // Image.
  &__image {
    margin-bottom: 20px;

    @include breakpoint($bp-medium-up) {
      float: left;
      margin-right: 40px;
      width: span(6);
    }

    @include breakpoint($bp-large-up) {
      width: span(4);
    }

    img {
      display: block;
    }
  }
}
