// =============================================================================
// VARIABLES
// =============================================================================

// Colors.
//========================================//

// General.
$black:               #000;
$blue--dark:          #091a2c;
$white:               #fff;

// Branding.
$brand--blue:         #1489b8;
$brand--red:          #c9413b;
$brand--orange:       #f7921d;

// Text.
$text--dark:          #4a4a4a;

// Page.
//========================================//

// Layout.
$container--width: 1340px;
$container--mobile-padding: 20px;
