// =============================================================================
// BLOCK - SUNPOWER BRANDING
// =============================================================================

$logo-width: 205px;

#block-sunpower-branding {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;

  @include breakpoint($bp-medium-up) {
    background-color: $white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 5px 10px rgba($black, .25);
    padding-bottom: 0;
    padding: 50px 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: $logo-width + 60px;
    z-index: 3;
  }

  // Image.
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $logo-width;
  }

  // Site name.
  .site-name {
    @include font-size(15, 18);
    border-top: 1px solid #c6c6c6;
    margin-top: 5px;
    padding-top: 3px;
    text-align: center;

    // Links.
    a,
    a:visited {
      color: $text--dark;
      text-decoration: none;
    }
  }
}
