// =============================================================================
// BLOCK - LOCAL TASKS (View, Edit, Delete, Revisions, etc.)
// =============================================================================

.block-local-tasks-block {
  border: 1px solid #cedde5;
  border-bottom: 0;
  margin-bottom: 20px;

  @include breakpoint($bp-medium-up) {
    border: 0;
    border-bottom: 1px solid #cedde5;
  }

  // User logged in.
  body.user-logged-in & {
    background-color: $white;
    border: 0;
    border-bottom: 1px solid #cedde5;
    border-top-right-radius: 3px;
    bottom: 0;
    box-shadow: 0 0 12px 2px rgba($black, 0.5);
    left: 0;
    margin-bottom: 0;
    padding: 10px;
    position: fixed;
    z-index: 9999;
  }

  // Tabs.
  .tabs {
    margin: 0;

    li {
      border-bottom: 1px solid #cedde5;
      display: block;
      margin: 0;

      @include breakpoint($bp-medium-up) {
        border-bottom: 0;
        display: inline-block;
      }
    }

    // Links.
    a,
    a:visited {
      padding: 10px 20px;
    }
  }
}
