// =============================================================================
// CONTACT MAP
// =============================================================================

.view-contact-map {
  border-top: 1px solid #cedde5;
  padding-top: 50px;

  // Title.
  &__title {
    @include font-size(24, 32);
    padding-top: 50px;
    text-align: center;

    @include breakpoint($bp-medium-up) {
      @include font-size(42, 60);
    }
  }

  // Store Contact.
  &__store-contact {

    @include breakpoint($bp-small-up) {
      width: span(12);
    }

    @include breakpoint($bp-medium-up) {
      width: span(6);
    }

    @include breakpoint($bp-medium-up) {
      width: span(6);
    }

    @include breakpoint($bp-large-up) {
      width: span(4);
    }

    &-left {
      clear: right;
      float: left;
    }

    &-right {
      clear: left;
      float: right;
    }
  }

  // Image
  &__store-image {
    height: 300px;
  }

  // Addess - State.
  &__store-state {
    @include font-size(30, 40);
    color: #1f3d7a;
    padding-top: 50px;
  }

  // Address.
  &__store-address {
    color: #666;
    padding-top: 10px;

    @include breakpoint($bp-small-up) {
      @include font-size(19, 0);
    }

    @include breakpoint($bp-medium-up) {
      @include font-size(20, 0);
    }
  }

  // Contact Info.
  &__store-contact-info {
    padding-top: 20px;
  }

  // Contact Map.
  &__store-map {
    padding-top: 30px;
  }

  // Interactive Map.
  &__store-interactive-map {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  // Interactive Map.
  &__store-separator {
    padding-right: 10px;
    margin-right: 10px;
  }

  // Address Content
  &__address-content {
    padding-left: 20px;
    padding-right: 20px;
  }


}
