// =============================================================================
// LOCATION MAP
// =============================================================================

.view-interactive-map {
  border-top: 1px solid #cedde5;
  padding-top: 50px;

  // Title.
  &__title {
    @include font-size(28, 34);
    text-align: center;

    @include breakpoint($bp-medium-up) {
      @include font-size(50, 68);
    }
  }

  // Map info.
  .mapDetails {

    // Inner.
    .inner {
      @include breakpoint($bp-medium-up) {
        display: flex;
      }

      h3 {
        @include font-size(24);
      }
    }
  }

  // Address.
  &__address {
    padding-top: 20px;
    padding-bottom: 20px;

    @include breakpoint($bp-medium-up) {
      width: span(4);
    }
  }

  // Details.
  &__details {
    border-bottom: 1px solid #cedde5;
    border-top: 1px solid #cedde5;
    padding-bottom: 20px;
    padding-top: 20px;

    @include breakpoint($bp-medium-up) {
      border-bottom: 0;
      border-left: 1px solid #cedde5;
      border-right: 1px solid #cedde5;
      border-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      width: span(4);
    }

    @include breakpoint($bp-large-up) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  // Image.
  &__image {
    padding-bottom: 20px;
    padding-top: 20px;

    @include breakpoint($bp-medium-up) {
      padding-left: 20px;
      width: span(4);
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 150px;
    }
  }
}

.interactivemap {
  height: 330px;
  display: block;
}

.mapstore {
  background-color: $white;
  border-left: 1px solid #dadada;
  height: 40px;
  position: absolute;
  visibility: visible;
  width: 2000px;
  z-index: 200;
}

.mapSection {
  @include font-size(18);
  color: #ababab;
  display: none;
  margin-bottom: 10px;
  text-align: left;
}

.verticalLine {
  border-left: 2px solid #dadada;
  height: 100px;
}

.mapStoreStateFlag {
  background-color: #3973ac;
  border: 1px solid;
  height: 40px;
  margin: 1em 0;
  text-align: center;
  white-space: nowrap;
  width: 60px;
}

.imgStoreStateFlag {
  max-height: 25px;
  max-width: 160px;
  vertical-align: middle;
}

.frameHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mapStoreName {
  @include font-size(12);
  font-weight: bold;
}

.mapStoreNameAddress {
  @include font-size(11);
  color: #7a7a7a;
}

.mapFrame {
  left: 200px;
  margin-top: 50px;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.mapStoreFrameText {
  background-color: $white;
  height: 40px;
  padding: 5px;
}

.image-style {
  border: 7px solid $white;
  box-shadow: 0 1px 2px rgba($black, .4);
}

.mapSectionDetailsContent {
  max-width: 500px;
}

.mapDetails {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
