// =============================================================================
// MEDIA
// =============================================================================

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

figure > img {
  display: block;
}

figure {
  margin: 0;
}

svg:not(:root) {
  // Corrects overflow displayed oddly in IE9.
  overflow: hidden;
}

iframe {
  max-width: 100%;
}
