// =============================================================================
// PAGE
// =============================================================================

html {
  background-color: $black;
  color: $text--dark;
  font-family: $base-font-family;

  // Font smoothing.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;

  // Navigation expanded.
  &.is-navigation-expanded {
    overflow: hidden;
  }
}

// Links.
a,
a:visited {
  color: $brand--blue;
  text-decoration: underline;
  transition: color .3s ease;

  // Hover and focus.
  &:hover,
  &:focus {
    color: $brand--red;
    text-decoration: underline;
  }
}
